@import url('https://fonts.googleapis.com/css2?family=Rye&family=Bungee+Inline&family=Open+Sans&family=Poiret+One&display=swap');

.score {
  font-family: 'Bungee Inline', sans-serif;
  font-size: 5vh;
}

.speech-bubble {
	position: relative;
	background: #daf396;
	border-radius: 1em;
  font-size: 2.5vh;
  padding: 2vh;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #daf396;
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -20px;
}

.startOver {
  width: 100%;
  height: 9vh;
  font-size: 4vh;
  font-weight: bold;
  font-family: 'Open Sans';
  color: #999999;
  cursor:pointer;
}

.safeHavenButtons {
  text-align: center;

}

.safeHavenPurchase {
  display: inline-block;
  margin: 10px;
}

.safeHavenPurchase button {
  font-size: 4vh;
  cursor: pointer;
}

.pointPrice {
  font-size: 2vh;
  text-align: center;
  margin: 0 auto;
}

.salesPitch {
  font-weight: bold;
  font-family: 'Open Sans';
  text-align: center;
}

.smallPrint {
  font-size: 2vh;
  color: #999999;
  font-family: 'Open Sans';
  text-align: center;
}

.messages {
  font-family: 'Open Sans', sans-serif;
  font-size: 3vh;
}
.message {

}

.stats {
  background-color: #E3F2FD;
  font-size: 2vh;
  padding: 10px;
  width:80%;
  height: 200px;
  border-radius: 150px;
}

.statsHeader {
  font-weight: bold;
  font-family: 'Open Sans';
  text-align: center;
  font-size: 4vh;
}

.resetStats {
  text-align: right;
  background-color:
}

.resetStatsButton {
  width: 8vw;
  height: 4vw;
  margin: 0 auto;
  background-color: #FFECB3;
  cursor:pointer;
  border: 2px dashed WHITE;
}

.gameOver .board {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.hiddenMessage {
  display: none;
}

.App {
  display: grid;
  grid-template-columns: minmax(150px, 1fr) 4fr minmax(250px, 1fr);
  margin-top: 5vh;

}

.board{
  border: 20px white solid;
  outline: 2px #999999 solid;
  border-radius: 10vh;
  display: grid;
  background-image: linear-gradient(to bottom right, CRIMSON, red, SILVER, green, OLIVEDRAB);
  grid-gap: 1px;
  //width: 80vh;
  margin: 0 auto;
  grid-template-columns: repeat(20, 4vh);
  grid-template-rows: repeat(20, 4vh);
}

.left {
  margin-left: 10px;
}

.right {
  margin-right: 10px;
}

.controls div {
  margin-bottom:10px;
  //font-size: 3vh;
}


.cell {
  position: relative;
  font-size: 3.5vh;
  border: 1px dotted rgba(255,255,255,.2);
}

.key {
  text-align: left;
}

.keyItemWithLabel {
    display: block;
    font-size: 12px;
    margin-right: 10px;
}

.keyItem {
  display: inline-block;
  border: 1px solid #efefef;
  border-radius: .5vh;
  width: 1.5vh;
  height: 1.5vh;
}

.beenThere {
  background-color: rgba(49, 79, 79,.7);
  transition: background-color 2.5s ease;
}

.green {
  color: OLIVEDRAB;
  font-weight: bold;
}

.red {
  color: FIREBRICK;
}

.open {
  background-color: OLIVEDRAB;
}
.blocked {
  background-color: FIREBRICK;
}

.lastMove {
  background-color: yellow;
}
.potentialBoom,
.actualBoom {
  font-size: 4vh;
  background-color: rgba(255,255,255,.7);
  border: 1px solid white;
}

.potentialBoom::before {
  content: '☠️';
}
.actualBoom::before {
  content: '☠️';
  //content: '💣';
}

.monster,
.monster2,
.monster3 {
    background-color: rgba(0,0,0,.9);
}

.monster::before {
  content: '🐲';
}
.monster2::before {
  content: '👺';
}

.monster3::before {
  content: '👹';
}

.lastMove::before {
    content: '🐰';
}

.safeHaven {
  background-color: LIME;
}
.safeHaven::before {
  content: '🐾';
}

.bonusScore {
  font-family: 'Poiret One', sans-serif;
  font-size: 10px;
  position: absolute;
  font-weight: normal;
  font-size: 2.5vh;
  //background-color: rgba(255, 238, 88,0.3);
  //border-radius: 20px;
  width:20px;
}

.neighbor {
  cursor: pointer;
}

.c0-19 .bonusScore {
  top: -20px;
}

.c19-0 .bonusScore {
  bottom: -20px;
  left: -10px;
}

.c19-19 .bonusScore {
 bottom: -20px;
}
