.App {
  display: grid;
  grid-template-columns: minmax(150px, 1fr) 4fr minmax(150px, 1fr);
  margin-top: 5vh;
}

.board{
  display: grid;
  grid-gap: 2px;
  //width: 80vh;
  margin: 0 auto;
  grid-template-columns: repeat(20, 4vh);
  grid-template-rows: repeat(20, 4vh);
}

.left {
  margin-left: 10px;
}

.right {
  margin-right: 10px;
}

.controls div {
  margin-bottom:10px;
  font-size: 12px
}


.cell {
  border: 1px solid #efefef;
  border-radius: .5vh;
}

.key {
  text-align: left;
}

.keyItemWithLabel {
    display: block;
    font-size: 12px;
    margin-right: 10px;
}

.keyItem {
  display: inline-block;
  border: 1px solid #efefef;
  border-radius: .5vh;
  width: 1.5vh;
  height: 1.5vh;
}

.beenThere {
  background-color: BLACK;
}

.open {
  background-color: MISTYROSE;
}
.blocked {
  background-color: WHEAT;
}

.actualBoom {
  background-color: PALETURQUOISE;
}
.potentialBoom {
  background-color: PALEGREEN;
}

.lastMove {
  background-color: SLATEBLUE;
}

.monster {
  background-color: pink;
}
.monster2 {
  background-color: LIGHTSALMON;
}

.monster3 {
  background-color: LIGHTYELLOW;
}
