@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Open+Sans&family=Poiret+One&display=swap');

.score {
  font-family: 'Bungee Inline', sans-serif;
  font-size: 5vh;
}

.messages {
  font-family: 'Open Sans', sans-serif;
  font-size: 3vh;
}
.message {
  font-size: 2.5vh;
}

.gameOver .board {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.hiddenMessage {
  display: none;
}

.App {
  display: grid;
  grid-template-columns: minmax(150px, 1fr) 4fr minmax(150px, 1fr);
  margin-top: 5vh;

}

.board{
  border: 20px white solid;
  outline: 2px #999999 solid;
  border-radius: 10vh;
  display: grid;
  background-image: linear-gradient(to bottom right, CRIMSON, red, SILVER, green, OLIVEDRAB);
  grid-gap: 1px;
  //width: 80vh;
  margin: 0 auto;
  grid-template-columns: repeat(20, 4vh);
  grid-template-rows: repeat(20, 4vh);
}

.left {
  margin-left: 10px;
}

.right {
  margin-right: 10px;
}

.controls div {
  margin-bottom:10px;
  //font-size: 3vh;
}


.cell {
  position: relative;
  font-size: 3.5vh;
  border: 1px dotted rgba(255,255,255,.2);
}

.key {
  text-align: left;
}

.keyItemWithLabel {
    display: block;
    font-size: 12px;
    margin-right: 10px;
}

.keyItem {
  display: inline-block;
  border: 1px solid #efefef;
  border-radius: .5vh;
  width: 1.5vh;
  height: 1.5vh;
}

.beenThere {
  background-color: rgba(49, 79, 79,.7);
  transition: background-color 2.5s ease;
}

.open {
  background-color: OLIVEDRAB;
}
.blocked {
  background-color: FIREBRICK;
}

.lastMove {
  background-color: yellow;
}
.potentialBoom,
.actualBoom {
  font-size: 4vh;
  background-color: rgba(255,255,255,.7);
  border: 1px solid white;
}

.potentialBoom::before {
  content: '☠️';
}
.actualBoom::before {
  content: '☠️';
  //content: '💣';
}

.monster,
.monster2,
.monster3 {
    background-color: rgba(0,0,0,.9);
}

.monster::before {
  content: '🐲';
}
.monster2::before {
  content: '👺';
}

.monster3::before {
  content: '👹';
}

.lastMove::before {
    content: '🐰';
}

.safeHaven {
  background-color: LIME;
}
.safeHaven::before {
  content: '🐾';
}

.bonusScore {
  font-size: 10px;
  position: absolute;
  font-weight: normal;
}

.neighbor {
  cursor: pointer;
}

.c0-19 .bonusScore {
  //background-color: rgba(255,255,255,.4);
  top: -15px;
  //right: -15px;
  //transform: rotate(45deg);
}

.c19-0 .bonusScore {
  bottom: -15px;
  //left: -15px;
  //transform: rotate(45deg);
}

.c0-0 .bonusScore {
  top: -15px;
  //left: -20px;
  //transform: rotate(-45deg);
}
.c19-19 .bonusScore {
 bottom: -15px;
}
